.container
  .sixteen.columns.logo
    %h1 Peculiarity

  .sixteen.columns
    %blockquote
      pe·cu·li·ar·i·ty (p-ky l-r-t, -ky l-y r-) n. pl. pe·cu·li·ar·i·ties.
      %br
      1. The quality or state of being peculiar.
      %br
      2. A notable or distinctive feature or characteristic.
      %br
