.row
  .twelve.columns
    #index_slider{:style => "height:380px; overflow:hidden"}
      %img{:src => "http://lorempixel.com/980/400/city"}
      %img{:src => "http://lorempixel.com/980/400/food"}
      %img{:src => "http://lorempixel.com/980/400/nightlife"}
    %p
.row#description
  .four.columns
    %h4 Check in
    %p What makes your town different? Use Peculiarity to check in, wherever you are. The app saves your location for others to see when the visit the area. Attach a photo to show others what you've found. Use the rating feature to quickly review the check in at the same time.
  .four.columns
    %h4 Rate
    %p What restaurant do you recommend to others when they come into town? Which bar has the worst service?
    %p Ratings on Peculiarity teach the system what kinds of places you like. Ratings also determine what's popular and recommended in your area.
  .four.columns
    %h4 Discover
    %p Use the geofence feature to find relevant places around you. Peculiarity learns what you like and don't like, and uses that information to recommend places based on others' ratings.
    %p Browse recent check ins, or search among the most popular places.
.row
  .four.columns.panel.centered
    %p
      %strong Sign up to receive more information.
    %form.nice#sign_up
      %label{}
        Enter your email address:
      %input{:type => "text", :class => "oversize input-text", :name => "email_address"}
      =submit_tag("Go", {:class => "large nice blue button radius"})
