.row
  .eight.columns
    %h1
      =link_to 'Peculiarity', pages_index_path
    %h3 Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit
.row
  .four.columns
    %h4 Foo Header
    %p Lorem ipsum wat.
  .four.columns
    %h4 Foo Header
    %p Lorem ipsum wat.
  .four.columns
    %h4 Foo Header
    %p Lorem ipsum wat.
%footer.row
  .two.columns
    %span
      &copy;
      %a{:href => "http://github.com/mathias"}
        Matt Gauger
      2012.
  .two.columns
    %span
      Peculiarity is open source.
      %br/
      %a{:href => "https://github.com/mathias/peculiarity"}
        Clone it on Github.
