.row
  .ten.columns.centered
    %h2 404 Page Not Found
.row
  .ten.columns.centered
    %img{:src => "images/confused_goat.jpg", :alt => "Confused goat is confused", :id => "goat"}
    %p
.row
  .ten.columns.centered
    %p
      %strong If you're feeling lost right now, maybe you should try using Peculiarity's search to find something you'll like.
    %p
      %a{:href => "http://www.flickr.com/photos/28648582@N02/4955081422/", :title => "Confused Goat by Kevin Shorter, on Flickr"}
        Confused Goat by Kevin Shorter, on Flickr. Used under a CC license.
