.row
  .four.columns.centered.panel
    %h4 Thank you for signing up!
    %p Would you like to spread the word about Peculiarity?
    %a.twitter-share-button{"data-related" => "PeculiarityApp", "data-size" => "large", "data-text" => "I just got my place in line to try Peculiarity App!", "data-via" => "PeculiarityApp", :href => "https://twitter.com/share"} Tweet
    .fb-like{"data-action" => "like", "data-colorscheme" => "light", "data-layout" => "standard", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450"}
    %p
.row
  .eight.columns
    = link_to 'Back', root_path
